* {
  box-sizing: border-box;
}


html {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
}


h1 {
  padding: 20px;
  color: white;
  font-size: 28px;
  text-align: center;
  font-family: Georgia;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

h2 {
  padding: 40px 20px 0 20px;
  font-size: 24px;
  text-align: center;
}

p {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}
